@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #8F0101;
    --secondary-color: #b81515;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --text-primary-color:#222222 ;
    --text-secondary-color:#ffffff ;
    
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-wight: 500;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}