:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --buttom-primary-color: #8F0101;
    --buttom-secondary-color: #b81515;

    --text-primary-color:#222222 ;
    --text-secondary-color:#ffffff ;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}